<h1>Welcome to your To-Do List</h1>

<h3>Progress</h3>
<h4> Items not started: <%= @list_items_ns %> </h4>
<h4> Items in-progress: <%= @list_items_ip %> </h4>
<h4> Items completed: <%= @list_items_c %> </h4>